<script>
import TimeZone from "@/components/TimeZones/TimeZone";
import { mapGetters } from "vuex";
import TimeLineSlot from "@/components/TimeZones/TimeLineSlot";
import TimeZoneHeader from "@/components/TimeZones/TimeZoneHeader";
import TimeZoneBlock from "@/components/TimeZones/TimeZoneBlock";

export default {
  components: {
    TimeZoneBlock,
    TimeZoneHeader,
    TimeLineSlot,
    TimeZone
  },
  props: {
    timezone: {
      type: Object
    }
  },
  computed: {
    ...mapGetters({
      timeSlots: "timezones/timeSlots",
      offset: "timezones/currentOffset"
    }),
    currentClass() {
      return {
        "timezone-entry": true,
        "timezone-entry__you": this.timezone.offset === this.offset
      };
    },
    timezoneName() {
      return this.timezone.timezones[0];
    },
    fullHourOffset() {
      return Math.abs(this.timezone.offset % 60);
    }
  }
};
</script>
<template>
  <time-zone :class="currentClass">
    <template v-slot:header>
      <TimeZoneHeader :timezone="timezone" />
    </template>
    <template v-slot:timeline>
      <div
        class="timezone-entry-wrapper"
        :class="'timezone-timeline-' + fullHourOffset"
        :style="{
          width: (timeSlots.length - 1 + fullHourOffset / 60) * 32 + 'px'
        }"
      >
        <TimeLineSlot
          v-for="slot in timeSlots"
          :key="slot"
          :timestamp="slot"
          :offsetToFullHour="fullHourOffset"
        >
          <TimeZoneBlock :timestamp="slot" :timezone-name="timezoneName" />
        </TimeLineSlot>
      </div>
    </template>
  </time-zone>
</template>
<style>
.timezone-entry {
  height: 5rem;
}

.timezone-entry__you {
  background: #fffaf4;
}

.timezone-entry__hover {
  background: #fbe5e1;
}

.timezone-entry-wrapper {
  display: flex;
  height: 100%;
}

.timezone-timeline-0 {
  margin-left: -2rem;
}

.timezone-timeline-15 {
  margin-left: -2.5rem;
}

.timezone-timeline-30 {
  margin-left: -3rem;
}

.timezone-timeline-45 {
  margin-left: -3.5rem;
}
</style>
