<template>
  <div
    v-if="0 <= posX"
    class="timezone-hover"
    :style="{ left: posX - 1 + 'px' }"
  ></div>
</template>
<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState("timezones", {
      posX: state => state.hover.posX
    })
  },
  props: {
    tanuki: {
      type: Object
    }
  }
};
</script>
<style scoped>
.timezone-hover {
  width: 2px;
  height: 100%;
  background-color: red;
  position: absolute;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
</style>
