<template>
  <main>
    <p>
      If you search for people in this chart, it will show the complete
      hierarchy (their managers and managers managers) for them.
    </p>
    <people-list :people="hierarchy" />
  </main>
</template>
<script>
import { mapGetters } from "vuex";
import PeopleList from "@/components/OrgChart/PeopleList";

export default {
  components: { PeopleList },
  computed: {
    ...mapGetters("org-chart", ["hierarchy"])
  }
};
</script>
